/*Song location slider*/
#songSlider {
    height: 10px;
    background-color: black;
    border-radius: 25px;
    margin-left: 85px;
}

/*Track progress bar*/
#trackProgress {
    width: 0px;
    height: 10px;
    background-color: #265648;
    border-radius: 25px;
}

#audioContainer {
    z-index: 10;
    font-size: 80%;
    height: 78px;
    background-color: gray;
    border-radius: 25px;
    border: 2px solid #265648;
    margin-top: 5em;
    /*position:fixed;
    left:0px;
    bottom:0px;
    width:100%;*/
}

#audioPlayBtn {
    margin-left: 10px;
    float: left;
    font-size: 75px;
}

#songTime {
    text-align: center;
    height: 30px;
}

#songTitle {
    height: 30px;
    text-align: center;
}
